/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #00698f;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

.detalhes {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detalhes:hover {
    background-color: #23527c;
}